body { 
    margin:0; 
    padding:0; 
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

img {
    height: 125px;
    width: 250px;
}

h1{
    font-size: 17.5px !important;
    margin: 5px 17.5px;
}

p {
    margin: 12px 17.5px;
    text-align: justify;
}

